<div class="chat-body" *ngIf="conversation">
  <div
    [ngClass]="chat.userIdFrom === loggedUser.id ? 'msg-left' : 'msg-right'"
    class="d-flex"
    *ngFor="let chat of conversation.message; let i = index"
  >
    <div
      [ngClass]="
        chat.userIdFrom === loggedUser.id
          ? 'message-left'
          : 'message-right float-end'
      "
    >
      <p
        [ngClass]="chat.userIdFrom === loggedUser.id ? 'msg' : 'msg float-end'"
      >
        <!-- This is how the message looks like asdf sadf sadf asdf asdf sadf
        ewrfwr adsfwea radfa sd -->{{ chat.message }}
      </p>
      <div class="time-wrapper">
        <span class="msg-time">{{ chat.timestamp | date: "shortTime" }}</span>
      </div>
    </div>
  </div>
  <div id="empty-div"></div>
</div>
<div class="message-input-container">
  <div class="msg-input mt-4">
    <form class="row g-2" autocomplete="off">
      <div class="col-10">
        <input
          type="text"
          class="form-control"
          id="message"
          placeholder="Message"
          name="message"
          [(ngModel)]="text"
          (keyup.enter)="sendMessage()"
        />
      </div>
      <div class="col-1">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          (click)="sendMessage()"
        >
          <i class="bi bi-cursor-fill"></i>
        </button>
      </div>
    </form>
  </div>
</div>
