<div class="chat-body">
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">
        This is how the message looks like asdf sadf sadf asdf asdf sadf
        ewrfwr adsfwea radfa sd
      </p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
  <div class="msg-right d-flex">
    <div class="message-right float-end">
      <p class="msg float-end">May I interest you into a beverage</p>
      <div class="time-wrapper">
        <span class="msg-time">10:40 AM</span>
      </div>
    </div>
  </div>
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">This is how the message looks like</p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
  <div class="msg-right d-flex">
    <div class="message-right float-end">
      <p class="msg float-end">
        May I interest you into a beverage kjlashd fklasjd fklja sdkfj
        asdlksadjflaks dflk
      </p>
      <div class="time-wrapper">
        <span class="msg-time">10:40 AM</span>
      </div>
    </div>
  </div>
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">
        This is how the message looks like asdf sadf sadf asdf asdf sadf
        ewrfwr adsfwea radfa sd
      </p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">
        This is how the message looks like asdf sadf sadf asdf asdf sadf
        ewrfwr adsfwea radfa sd
      </p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
  <div class="msg-right d-flex">
    <div class="message-right float-end">
      <p class="msg float-end">May I interest you into a beverage</p>
      <div class="time-wrapper">
        <span class="msg-time">10:40 AM</span>
      </div>
    </div>
  </div>
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">This is how the message looks like</p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
  <div class="msg-right d-flex">
    <div class="message-right float-end">
      <p class="msg float-end">May I interest you into a beverage</p>
      <div class="time-wrapper">
        <span class="msg-time">10:40 AM</span>
      </div>
    </div>
  </div>
  <div class="msg-left d-flex">
    <div class="message-left">
      <p class="msg">This is how the message looks like</p>
      <div class="time-wrapper">
        <span class="msg-time">10:50 PM</span>
      </div>
    </div>
  </div>
</div>
<div class="message-input-container">
  <div class="msg-input mt-4">
    <form class="row g-2" autocomplete="off">
      <div class="col-10">
        <input
          type="text"
          class="form-control"
          id="message"
          placeholder="Message"
        />
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-primary mb-3">
          <i class="bi bi-cursor-fill"></i>
        </button>
      </div>
    </form>
  </div>
</div>
