<div class="user-header">
  <div class="chat-list-item d-flex">
    <img
      class="avatar"
      [src]="selectedItem.avatarTo"
      alt=""
      height="60px"
      width="60px"
    />
    <div class="text-content">
      <h4>{{selectedItem.usernameTo}}</h4>
      <p>Identity theft is not a joke Jim!!!</p>
      <p>Online</p>
    </div>
    <!-- <div class="text-content">
      <h4>Movies</h4>
      <p>Bharath, Nishant, Sruthi, Sindhu</p>
    </div> -->
    <div class="menu-dots">
      <i class="bi bi-three-dots-vertical"></i>
    </div>
  </div>
</div>
