<div class="user-header">
  <div class="chat-list-item d-flex">
    <img
      class="avatar"
      [src]="
        loggedUser.id === selectedItem?.userIdTo
          ? selectedItem?.avatarFrom
          : selectedItem?.avatarTo
      "
      alt=""
      height="60px"
      width="60px"
    />
    <div class="text-content">
      <h4>
        {{
          loggedUser.id === selectedItem?.userIdTo
            ? selectedItem?.usernameFrom
            : selectedItem?.usernameTo
        }}
      </h4>
      <p>  {{
        loggedUser.id === selectedItem?.userIdTo
          ? (selectedItem?.isUserFromOnline ? 'Online' : 'Offline')
          : (selectedItem?.isUserToOnline ? 'Online' : 'Offline')
      }}</p>
      <!-- <p>Online</p> -->
    </div>
    <!-- <div class="text-content">
      <h4>Movies</h4>
      <p>Bharath, Nishant, Sruthi, Sindhu</p>
    </div> -->
    <div class="menu-dots">
      <i class="bi bi-three-dots-vertical"></i>
    </div>
  </div>
</div>
