<div *ngIf="list && list.length > 0">
  <div
    class="group-list"
    [ngClass]="i === selectedItemIndex ? 'active-group' : ''"
    *ngFor="let item of list; let i = index"
  >
    <div class="d-flex group-list-item" (click)="selectedItem(i)">
      <img
        class="avatar"
        [src]="item.avatar"
        alt=""
        height="60px"
        width="60px"
      />
      <div class="friend-text-content">
        <h4>{{ item.username }}</h4>
        <p *ngIf="listType === 'group'">Bharath,Nishant,Sindhu,Sruthi</p>
        <p>{{ item.status }}</p>
      </div>
      <div class="time">
        <p>10:30 PM</p>
      </div>
    </div>
  </div>
</div>
