<div *ngIf="list && list.length > 0">
  <div
    class="group-list"
    [ngClass]="i === selectedItemIndex ? 'active-group' : ''"
    *ngFor="let item of list; let i = index"
  >
  <div class="dropdown float-end">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-three-dots"></i>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <!-- <i class="bi bi-three-dots"></i> -->
    <div class="d-flex group-list-item" (click)="selectedItem(i)">
      <img
        *ngIf="listType === 'friend requests'"
        class="avatar"
        [src]="loggedUser.id === item.requestToUserId ? item.avatarFrom :item.avatarTo"
        alt=""
        height="60px"
        width="60px"
      />
      <img
        *ngIf="listType === 'friends' || listType === 'groups'"
        class="avatar"
        [src]="item.avatar"
        alt=""
        height="60px"
        width="60px"
      />
      <img
        *ngIf="listType === 'chats'"
        class="avatar"
        [src]="
          loggedUser.id === item.userIdFrom ? item.avatarTo : item.avatarFrom
        "
        alt=""
        height="60px"
        width="60px"
      />

      <div class="friend-text-content">
        <h4 *ngIf="listType === 'friends'">{{ item.username }}</h4>
        <h4 *ngIf="listType === 'chats'">
          {{
            loggedUser.id === item.userIdFrom
              ? item.usernameTo
              : item.usernameFrom
          }}
        </h4>
        <h4 *ngIf="listType === 'friend requests'">
          {{ item.requestToUserId === loggedUser.id ? item.requestFromUsername :item.requestToUsername }}
        </h4>
        <p *ngIf="listType === 'chats'">
          {{ item.lastMessageFrom }} : {{ item.lastMessage }}
        </p>
        <p *ngIf="listType === 'groups'">Bharath,Nishant,Sindhu,Sruthi</p>
        <p *ngIf="listType === 'friends'">
          {{ item.isOnline ? "online" : "offline" }}
        </p>
        <p *ngIf="listType !== 'friends'">{{ item.status }}</p>
      </div>
      <div class="time">
        <div class="content d-flex flex-column float-end">
          <p *ngIf="listType !== 'chats'">10:30 PM</p>
          <p *ngIf="listType === 'chats'">
            {{ item.lastMessageTimestamp | date: "shortTime" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
