<div class="container">
<div class="content container-fluid bootstrap snippets bootdey">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default chat" style="overflow: auto; outline: none;" tabindex="5000">
            <h6 class="chat-friends">Friends</h6>
            <div class="chat-users">

              <div class="add-friend">
              <div class="user">
                <div class="avatar">
                <img src="../../assets/blank-profile-picture.svg" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">Add Friend</div>
                <div class="name"><input placeholder="email" [(ngModel)]="email" (keyup.enter)="sendFriendRequest()"></div>
            </div>
          </div>
             
              <div *ngFor="let friend of updatedFriends">
                <div class="user" (click) = "selectedUser(friend)">
                    <div class="avatar">
                    <img [src]="friend.avatar" alt="User name">
                    <div [ngClass]="(friend.isOnline) ? 'status online':'status off'"></div>
                    </div>
                    <div class="name">{{friend.username}}</div>
                    <div class="mood">{{(friend.isOnline)? "Online" : "Offline"}}</div>
                </div>
              </div>
              <div *ngIf="friendRequests && friendRequests.length > 0">
              <div *ngFor="let request of friendRequests">
                <div class="user" (click) = "acceptRequest()">
                    <div class="avatar">
                      <img src="../../assets/blank-profile-picture.svg" alt="User name">
                    <div class="status off"></div>
                    </div>
                    <div class="name">{{request.requestFromUsername}}</div>
                    <div class="mood">Offline</div>
                    <button class="friend-request-btn" (click)="updateFriendRequest('ACCEPTED',request)">Accept</button>
                    <button class="friend-request-btn" (click)="updateFriendRequest('REJECTED',request)">Reject</button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none; " tabindex="5001">
          <div class="col-inside-lg decor-default">
            <div class="chat-body-header">
              <div class="row">
                <div class="col-md-1">
                  <div class="header-avatar">
                    <img [src]="(selectedFriend && selectedFriend.avatar) ? selectedFriend.avatar : '../../assets/blank-profile-picture.svg'" alt="User name">
                  </div>
                </div>
                <div class="col-md-11">
                  <div class="name">{{selectedFriend.username}}</div>
                  <div class="status-text">{{(selectedFriend.isOnline)? "Online" : "Offline"}}</div>
                </div>
              </div>
            </div>
            <div class="chat-body" style="overflow: auto; outline: none; height:600px">
             
              <div *ngFor="let chat of chats[selectedChatId]">
              <div [ngClass]="(loggedUser.id === chat.userIdFrom) ? 'answer left' : 'answer right'">
                <div class="avatar">
                  <img [src]="chat.avatarFrom" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">{{chat.usernameFrom}}</div>
                <div class="text">
                  {{chat.message}}
                </div>
                <!-- <div class="time">5 min ago</div> -->
              </div>
            </div>
           
              <div class="answer-add" #chatinput>
                <input placeholder="Write a message" [(ngModel)]="text" (keyup.enter)="sendMsg(chatinput)">
                <span class="answer-btn answer-btn-1" (click)="sendMsg(chatinput)"></span>
              </div>
              <div id="scrollTo" #scrollTo></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>