body{
    margin-top:20px;
   
}

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: hidden;
    height: calc(100vh - 30px);
} */

.container{
    margin-top:30px
}

.row.row-broken {
    padding-bottom: 0;
}
/* .col-inside-lg {
    padding: 0 20px 20px 20px;

} */
.chat {
    height: calc(100vh - 180px);
}
.decor-default {
    background-color: #ffffff;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.chat-friends{
    padding: 20px;
    margin-bottom: 15px;
    background: rgb(58,90,144);
    background: linear-gradient(90deg, rgba(58,90,144,1) 0%, rgba(70,37,240,1) 45%, rgba(0,185,255,1) 100%);
    color: #fff;
}

.chat-users{
    padding-left:20px;
    padding-right:20px;
}

.chat-users h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-users .user {
    position: relative;
    padding: 0 0 0 50px;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
}
.chat-users .user .avatar {
    top: 0;
    left: 0;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat .avatar .status.off {
    border: 1px solid #5a5a5a;
    background: #ffffff;
}
.chat .avatar .status.online {
    background: #4caf50;
}
.chat .avatar .status.busy {
    background: #ffc107;
}
.chat .avatar .status.offline {
    background: #ed4e6e;
}
.chat-users .user .status {
    bottom: 0;
    left: 28px;
}
.chat .avatar .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}
.chat-users .user .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-users .user .mood {
    font: lighter 12px/16px "Raleway", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/

.chat-body-header{
    padding: 20px;
    margin-bottom: 20px;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 20px;
    position: relative;
}

.chat-body-header .header-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-body-header .header-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-body-header .status-text{
    font-size: 14px;
    color:#fff;
}

.chat-body-header .name{
    color:#fff;
}



.chat-body-header .col-md-11 .avatar .status{
    right: 4px;
}

.chat-body{
    padding: 0 20px 0 20px;
}

.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}
.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
    margin-bottom:10px;
}
.chat-body .answer.left .avatar {
    left: 0;
}
/* .chat-body .answer .avatar {
    bottom: 36px;
} */
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat-body .answer .name {
    display: none;
    font-size: 14px;
    line-height: 36px;
}
.chat-body .answer.left .avatar .status {
    right: 4px;
}
.chat-body .answer .avatar .status {
    bottom: 0;
}
.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
    padding: 8px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}
.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}
.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}
.chat-body .answer.right .avatar .status {
    left: 4px;
}
.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}
.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

/**************ADD FORM ***************/
.chat-body .answer-add {
    clear: both;
    position: relative;
    margin: 20px -20px -20px;
    padding: 20px;
    background: rgb(59,154,10);
    background: linear-gradient(90deg, rgba(59,154,10,1) 0%, rgba(29,222,10,1) 45%, rgba(25,182,46,1) 100%);
    

}
 .chat-body .answer-add input {
    padding: 10px;
    margin: -10px;
    width: 90%;
    border: none;
} 


.chat-body .answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}

 .chat-body .answer-add .answer-btn-1 {
    background: url("../../assets/send.svg") 50% 50% no-repeat;
    right: 40px;
}

.chat-body .answer-add .answer-btn-2 {
    background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
    right: 20px;
} 
.chat input::-webkit-input-placeholder {
   color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.chat input:-ms-input-placeholder {  
   color: #fff;  
}
.chat input {
    -webkit-appearance: none;
    border-radius: 0;
}