<div class="container-fluid content-container">
  <div class="row content-container">
    <div class="col-sm-2 side-bar-nav">
      <ul class="nav flex-column mt-5">
        <li
          class="nav-item d-flex justify-content-start align-items-center"
          (click)="loadPage('chats', $event)"
          [ngClass]="activeLink === 'chats' ? 'nav-active' : ''"
        >
          <i class="bi bi-chat-dots"></i>
          <a class="nav-link" aria-current="page" href="#"
            ><span class="link-text">Chats</span></a
          >
        </li>
        <li
          class="nav-item d-flex justify-content-start align-items-center"
          (click)="loadPage('friends', $event)"
          [ngClass]="activeLink === 'friends' ? 'nav-active' : ''"
        >
          <i class="bi bi-people"></i>
          <a class="nav-link" href="#"
            ><span class="link-text">Friends</span></a
          >
        </li>
        <li
          class="nav-item d-flex justify-content-start align-items-center"
          (click)="loadPage('friend requests', $event)"
          [ngClass]="activeLink === 'friend requests' ? 'nav-active' : ''"
        >
          <i class="bi bi-person-check"></i>
          <a class="nav-link" href=""
            ><span class="link-text">Friend Requests</span></a
          >
        </li>
        <li
          class="nav-item d-flex justify-content-start align-items-center"
          (click)="loadPage('groups', $event)"
          [ngClass]="activeLink === 'groups' ? 'nav-active' : ''"
        >
          <i class="bi bi-ui-radios-grid"></i>
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
            ><span class="link-text">Groups</span></a
          >
        </li>
      </ul>
    </div>

    <div class="col-sm-3 list-container">
      <app-search-box [placeholder]="placeholder"></app-search-box>
      <div class="groups-container">
        <!-- <div *ngIf="list && list.length > 0"> -->
        <div *ngIf="list">
          <app-group-list
            [listType]="listType"
            [list]="list"
            [selectedItemIndex]="selectedItemIndex"
            (selectedItemEvent)="itemSelected($event)"
            (friendRequestEvent)="addFriend($event)"
          ></app-group-list>
        </div>
      </div>
    </div>
    <div class="col-sm-7 chat-body-container">
      <ng-template [ngIf]="itemType !== 'friends' && selectedListItem">
        <app-item-header [selectedItem]="selectedListItem"></app-item-header>
      </ng-template>
      <!-- *ngIf="listType === 'friend Requests'" -->
      <ng-template [ngIf]="itemType === 'friend requests'">
        <app-friend-request-display
          [selectedItem]="selectedListItem"
        ></app-friend-request-display>
      </ng-template>
      <ng-template [ngIf]="itemType === 'chats'">
        <app-friend-chat
          [selectedItem]="selectedListItem"
          [conversationId]="conversationId"
          [conversation]="conversation"
        ></app-friend-chat>
      </ng-template>
      <ng-template [ngIf]="itemType === 'friends' && friendDetails">
        <app-friend-details [selectedItem]="friendDetails" (startChatEvent)="startChat($event)"></app-friend-details>
      </ng-template>
    </div>
  </div>
</div>
